{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}" />
<meta name="description" content="One of the cheapeast and most reliable services out on the internet. Buy your LoL Smurf Account for a fixed price of 5$ and get access to it instantly with out 24/7 Instant Delivery system.">

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1">
           <meta charset="utf-8">  
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% block meta %}
        {% endblock meta %}
    </head>
<body >
  <div class="masthead ">
   <div class="container fixed-top">
    <nav class="navbar  navbar-expand-lg navbar-dark ">
        <a class="navbar-brand text-light" href="https://n1smurf.com">N1Smurf</a>
        <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-light"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-light" href="#home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#accounts">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#faq">FAQ</a>
              </li>

           
          </ul>
        </div>
      </nav>
     
    </div>
    <main >
        {% block main %}
        {% endblock main %}
    </main>
<div>
    <div class="container">
      <!-- Footer -->
      <footer class="site-footer section b-t">
          <div class="container pb-3">
              <div class="row gap-y text-center text-md-left">
                  <div class="col-md-4 mr-auto">
                    <h1 style="color: #5757f5;" class="pt-2">N1Smurf</h1>
                      <p>N1Smurf is the destination for reliable and instant LoL Smurf Service</p>
                  </div>
              
                  <div class="col-md-5">
                      <h6 class="pt-4 bold">Links</h6>
                      <nav class="nav flex-column"><a class="nav-item py-2" href="#home">Home</a> <a class="nav-item py-2" href="#faq">FAQ</a> <a class="nav-item py-2" href="#accounts">Accounts</a></nav>
                  </div>
              </div>
              <hr class="mt-5">
              <div class="row small align-items-center">
                  <div class="col-md-4">
                      <p class="mt-2 mb-md-0 color-2 text-center text-md-left">© 2019 N1Smurf. All Rights
                          Reserved.</p>
                  </div>
                 
              </div>
          </div>
      </footer>
  <!-- Footer -->
    </div>
  </div>

   
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
    </html>